{% extends 'base.html.twig' %}
{% block body %}

    <div class="container" >
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        <div class="form-group"> {{ form_row(form.titre, {'attr':{'class':'form-control'}}) }}</div>
        <div class="form-group"> {{ form_row(form.sous_titre, {'attr':{'class':'form-control'}}) }}</div>

        <div class="form-group"> {{ form_row(form.ingredients, {'attr':{'class':'form-control'}}) }}</div>

        {{ form_end(form) }}
    </div>

{% endblock %}
